graphql:
  servlet:
    allow-origin: "https://j8d110.p.ssafy.io,http://127.0.0.1:5173,http://localhost:5173,http://172.30.1.95"

server:
#  host: localhost
#  port: 8085
  servlet:
    context-path: /spring

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://j8d110.p.ssafy.io:4000/specialized
    username: root
    password: root
  kafka:
    bootstrap-servers: j8d110.p.ssafy.io:9092
    producer:
      acks: all
      retries: 0
      batch-size: 16384
      linger-ms: 1
      buffer-memory: 33554432
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  #    url: jdbc:mysql://127.0.0.1:3306/teukhwa
  #    username: root
  #    password: ssafy


  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false
    hibernate:
      ddl-auto: update
  #    properties:
  #      hibernate:
  #        show_sql: true
  #        format_sql: true

  profiles:
    include: key

  redis:
    host: j8d110.p.ssafy.io
    port: 7963
  #    host: localhost
  #    port: 6379

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

cloud:
  aws:
    credentials:
      access-key: ESCb1U9YUC1iPdriv1Qc
      secret-key: 1M49n1x3q4COn0KtlZ2rKt63AQ4ermzvsCg9yk3l
    stack:
      auto: false
    region:
      static: ap-northeast-2
    s3:
      endpoint: https://kr.object.ncloudstorage.com
      bucket: d110
